@page "/recipes/{RecipeId:guid}/edit"
@using Microsoft.AspNetCore.Authorization

@attribute [StreamRendering]
@attribute [Authorize]

<PageTitle>Edit Recipe</PageTitle>

<h3>EditRecipe</h3>

@code {
    [Parameter]
    public Guid RecipeId { get; set; }
}
