@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Dish Depot!</h1>

<p>Dish Depot is your one-stop-shop for recipe tracking, meal planning, and more.</p>

<h3 class="alert-warning">This site is under construction. Please disregard any unfinished pages at this time.</h3>
